aside {
    background: #1f8dd6;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 25px;
    color: #fff;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.logo a {
    width: 350px;
    background-size: 350px;

    @media #{$retina}  {
        background-image: url('../img/logo-retina.png');
        background-size: 350px;
      }
}   

/* Main Name on Home Page */
.main-message .content-narrow {
  text-align: -webkit-center
}

.main-message h2 {
  max-width: 27em;
}

/* Services */
.services p {
  height: 13em;
}

.service {
    padding: 1em;
}

.service .button-link a {
  width: 80%;
}

.services .service-icon img {
    width: inherit;
    max-width: 275px;
    height: 200px;
    border-radius: 10px;
}

.services .service-icon img.bordered {
  border: 1px solid;
}


/* Teams */
.content img {
	display: block;
	margin: auto;
}
/*Bigger Team photos*/
.grid-layout .card .card-header {
     max-height: 300px; 
     overflow: hidden; 
}
 
/* People */
.column-list-layout .post .post-header,
.profile-photo {
    border-radius: 5%   
}

.personal_url {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    line-height: 2em;
    font-size: 12px;
}

/* Partners */
.partners {
  margin: 0 0;
}

.partners h2 {
  margin-bottom: 0px;
}

.partners ul {
  display: inline-block;
  margin: 1em 2em;
}

.partners ul li {
  margin: 0px 10%;
  float: left;
  list-style: none;
  padding-bottom: 2em;
} 

.partners ul li img {
  max-width: 150px
}

.meta ul .role {
  background-color: aliceblue;
  padding: 2px 8px;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid lightgrey;  
}

/* News Posts */
.news-twitter {
  padding: 0 0 15px 0;
}

.news-twitter .col-wrap {
    padding: 0 25px;
}

.news-item {
  border-left: 1px solid darkgrey;
  background-color: lightgrey;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/* Footer */
.site-footer {
  margin-top: 10px;
  padding-top: 25px;
}