{% comment %}
  Displays the address from _data/information.yml properly formatted
{% endcomment %}

{% if site.data.information %}
{% assign info = site.data.information %}
<p>
  {% if site.title %}{{ site.title }}<br />{% endif %}
  {% if info.email %}<a href="mailto:{{ info.email }}" title="{{ info.email }}">{{ info.email }}</a>{% endif %}<br />
  <a href="https://forum.projectpanoptes.org" title="PANOPTES Forum" target="_blank">https://forum.projectpanoptes.org</a>
  <a href="/contact" title="Contact Form">Contact form</a>
</p>
{% endif %}
