<hr class="layout">
<div class="row">
    <div class="col-lg-12">
        <ul class="list-inline">
                <li><a href="{{ site.url }}/what.html">Project Overview</a></li>

                <li><a href="{{ site.url }}/hardware.html">Hardware Description</a></li>

                <li><a href="{{ site.url }}/software.html">Software Description</a></li>

                <li><a href="{{ site.url }}/instructions.html">Build Instructions</a></li>

                <li><a href="{{ site.url }}/contact.html">Participation / Contact Us</a></li>

                <li><a href="{{ site.url }}/status.html">News / Status</a></li>

                <li><a href="{{ site.url }}/team.html">The PANOPTES Team</a></li>
        </ul>
    </div>
</div>
