<hr class="layout">
<div class="row">
    <div class="col-lg-12">
        <ul class="list-inline">
                <li><a href="what.html">Project Overview</a></li>

                <li><a href="hardware.html">Hardware Description</a></li>

                <li><a href="software.html">Software Description</a></li>

                <li><a href="instructions.html">Build Instructions</a></li>

                <li><a href="contact.html">Participation / Contact Us</a></li>

                <li><a href="status.html">News / Status</a></li>

                <li><a href="team.html">The PANOPTES Team</a></li>
        </ul>
    </div>
</div>
