<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Project PANOPTES</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="what.html">About</a></li>
                        <li><a href="status.html">Status</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="https://github.com/panoptes">PANOPTES On GitHub</a></li>
                        <li><a href="https://plus.google.com/u/0/100843641079682994747/about">PANOPTES On Google+</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get involved! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="hardware.html">Hardware</a></li>
                                <li><a href="software.html">Software</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="dropdown-header">Peolpe Involved</li>
                                <li><a href="team.html">Team Members</a></li>
                                <li><a href="#">PANOPTES Units</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
