<div class="jumbotron">
    {% include picture.html src="units/prototype_v2.png" class="large" %}
    <p class="lead">
        PANOPTES
        (<strong>P</strong>anoptic
        <strong>A</strong>stronomical
        <strong>N</strong>etworked
        <strong>OP</strong>tical observatory for
        <strong>T</strong>ransiting
        <strong>E</strong>xoplanets
        <strong>S</strong>urvey) is a citizen science project which aims to build low cost, robotic telescopes which can be used to detect transiting exoplanets.
        <h2><a href="{{ site.url }}/contact.html">How will you help find the next generation of exoplanets?</a></h2>
        <a class="btn btn-lg btn-success" href="contact.html" role="button">Get started today!</a>
    </p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Overview</h2>
        <p>
            Due to the simplicity and low cost (an individual PANOPTES unit is targeted to cost about $5000 USD), a PANOPTES "unit" can be reproduced quickly and easily by students or amateur scientists. In this way, many units can be deployed at many different sites
            to provide continuous and redundant sky coverage. PANOPTES is designed from the ground up to be a citizen science project which will involve the public in all aspects of the science, from data acquisition to data reduction.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Software / Hardware</h2>
        <p>
            The philosophy behind the PANOPTES hardware and software design is to use as many commercial off the shelf (COTS) parts as possible as these are generally inexpensive and easily acquired. In addition, the PANOPTES design is kept as simple as possible
            as this makes the build process easier and means that the final product is more reliable.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Community</h2>
        <p>
            PANOPTES is also a platform. We encourage other groups to come up with projects which use PANOPTES data or PANOPTES hardware to address other scientific questions.
        </p>
        <ul>
          {% for post in site.posts limit:3 %}
            <li>
            {{ post.date | date_to_string }}:
            <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <p><a class="btn btn-primary" href="software.html" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <p><a class="btn btn-primary" href="hardware.html" role="button">Get Building &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <p><a class="btn btn-primary" href="contact.html" role="button">Participate Now &raquo;</a></p>
    </div>
</div>
