{% assign url = page.url | remove:'index.html' %}

<header class="site-header">
  <div class="container">
      <h1 class="logo" id="main-logo">
        <a href="{{ "/" | absolute_url }}">{{ site.name }}</a>
      </h1>
      <nav class="main-nav" id="site-navigation">
        <ul class="navigation">
          {% for link in site.data.menus.header %}
          <li class="{% if link.children %}nested {% endif %}{% if url == link.url %}current{% endif %}">
            <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>
                  {{ link.title }}
            </a>
            {% if link.children %}
            <ul class="first-level">
              {% for child in link.children %}
              <li>
                <a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>
                  {{ child.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
          <li class="small-screen-icon">
            <a href="javascript:void(0);" onclick="showNav()">
              <i class="fa fa-bars"></i>  
            </a>
          </li>
        </ul>
    </nav>
  </div>
</header>
