<div class="masthead">
  <h2><a href="{{ site.url }}">Project PANOPTES</a></h2>
  <nav>
    <ul class="nav nav-justified">
      <nav>
        <ul class="nav nav-justified">
        <li><a href="{{ site.url }}/index.html">Home</a></li>
        <li><a href="{{ site.url }}/status.html">News/Status</a></li>
        <li><a href="{{ site.url }}/instructions.html">Instructions</a></li>
        <li><a href="{{ site.url }}/contact.html">Participate/Contact</a></li>
        <li><a href="https://github.com/panoptes">GitHub</a></li>
        <li><a href="https://plus.google.com/u/0/100843641079682994747/about">Google+</a></li>
        </ul>
      </nav>
    </ul>
  </nav>
</div>
