{% comment %}
    Displays a list of partner logos from a document's front matter
{% endcomment %}

{% if page.partners %}
<section class="partners">
    <div class="container">
        <h2>Partners</h2>
        <div>
            <ul class="">
                {% for logo in page.partners %}
                    <li>
                        <img src="{{ logo | absolute_url }}" alt="{{ logo }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
Project PANOPTES is funded in part through NASA’s <a href="https://www.universe-of-learning.org/" target="_blank">Universe of Learning</a> (UoL) Program via a subcontract with the Jet Propulsion Laboratory. This material is based upon work supported by NASA under award number NNX16AC65A.
<br /> <br />
Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Aeronautics and Space Administration.
</section>
{% endif %}
