<figure class="{% if include.src2 %}multiple{% endif %}">
    <a href="{{ site.url }}/images/{{ include.src }}">
        <img src="{{ site.url }}/images/{{ include.src }}" alt="{{ include.caption }}" class="img-rounded {{ include.class }}">
    </a>
    {% if include.src2 %}
    <a href="{{ site.url }}/images/{{ include.src2 }}">
        <img src="{{ site.url }}/images/{{ include.src2 }}" alt="{{ include.caption }}" class="img-rounded {{ include.class }}">
    </a>
    {% endif %}
    {% if include.caption > "" %}
    <figcaption class="img-rounded {% if include.src2 %}multiple{% endif %}">
            {{ include.caption }}
    </figcaption>
    {% endif %}
</figure>
