{% comment %}
    Displays a list of services from a document's front matter
{% endcomment %}

{% if page.services %}
<section class="services">
    <div class="container pure-g">
        {% for item in page.services %}
        <div class="pure-u-1 pure-u-md-1-{{ forloop.length }}">
              <div class="service">
                  <div class="thumbnail-img">
                    <img src="{{ item.thumbnail.image | absolute_url }}" alt="" class="{% if item.thumbnail.border %}bordered{% endif %}">
                  </div>
                  
                  <h2>{{ item.heading }}</h2>
                  <p>{{ item.description }}</p>

                  <div class="button-link">
                    <a href="{{ item.link.href | absolute_url }}" class="pure-button button-success button-medium button-outline" title="{{ item.link.label }}">
                      {{ item.link.label }}&nbsp;<i class="fa fa-chevron-right"></i>
                    </a>
                  </div>

              </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
