<div class="media">

    {% if include.align == 'left' %}
    <div class="media-left">
        <a href="{{ site.url }}/images/{{ include.src }}">
            <img src="{{ site.url }}/images/{{ include.src }}" alt="{{ include.caption }}" width="{{ include.width }}" class="media-object img-rounded {{ include.class }}" width="128px">
        </a>
    </div>
    {% endif %}

    <div class="media-body">
        <h3 class="media-heading">{{ include.heading }}</h3>
        {{ include.caption }}
    </div>

    {% if include.align == 'right' %}
    <div class="media-right">
        <a href="{{ site.url }}/images/{{ include.src }}">
            <img src="{{ site.url }}/images/{{ include.src }}" alt="{{ include.caption }}" width="{{ include.width }}" class="media-object  img-rounded {{ include.class }}" width="128px">
        </a>
    </div>
    {% endif %}
</div>
