{% capture note %}
All measurements to be performed are given in international units (mostly millimeters, abbreviated mm) however all purchased parts are measured in imperial units (mostly inches, abbreviated &quot;). All quantities are written in English with the number also included in parenthesis. Always double-check measurements and units before doing any work.
<br><br>
<strong>Example:</strong> Take one (1) of the 12” long aluminum plates, mark a line 200 mm from one end of the plate.
<br><br>
See the <strong><a href="{{ site.url }}/standards.html" class="text-primary">Standards and Conventions</a></strong> page for details.
{% endcapture %}
{% include note.html text=note %}
