<!DOCTYPE html>
<html lang="en">

<head>
    {% include html_head.html %}
</head>

<body>

    <div class="container">

        {% include nav.html %}

        <!-- This creates a centered column in the middle with some padding -->
        <div class="row">
            <div class="col-lg-1">&nbsp; </div>
            <div class="col-lg-10">
                {{ content }}
            </div>
            <div class="col-lg-1">&nbsp; </div>
        </div>


        {% include footer.html %}

    </div>
    <!-- /container -->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    {% include analytics.html %}
</body>

</html>
