<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url }}/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="{{ site.url }}/index.html">Home</a></li>
          <li class="fork"><a href="{{ site.url }}/status.html">News/Status</a></li>
          <li class="fork"><a href="{{ site.url }}/instructions.html">Instructions</a></li>
          <li class="fork"><a href="{{ site.url }}/contact.html">Participate/Contact</a></li>
          <li class="fork"><a href="https://github.com/panoptes">GitHub</a></li>
          <li class="fork"><a href="https://plus.google.com/u/0/100843641079682994747/about">Google+</a></li>
        </nav>
      </div><!-- end header -->

      <div class="wrapper">
          <section>
          <div id="title">
              <h2>{{ page.date | date: "%Y-%m-%d" }}: {{page.title }}</h2>
              <hr>
          </div>

      {{ content }}
      </div>
      <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52227000-1', 'auto');
  ga('send', 'pageview');

</script>  
</html>
