<!DOCTYPE html>
<html lang="en">
  <head>
      {% include html_head.html %}
  </head>

  <body>

    <div class="container">

        {% include nav.html %}

      <hr>

      <!-- Same layout as default but we put the date and title up here -->
      <h2>{{ page.date | date: "%Y-%m-%d" }}: {{page.title }}</h2>
      <div class="row">
          <div class="col-lg-1">&nbsp; </div>
          <div class="col-lg-10">
              {{ content }}
          </div>
          <div class="col-lg-1">&nbsp; </div>
      </div>


      {% include footer.html %}

    </div> <!-- /container -->

    {% include analytics.html %}
  </body>
</html>
