---
layout: default
---
{% comment %}
	This layout is used by the documents in the _teams/ collection
{% endcomment %}

{% include breadcrumbs.html class="content-narrow" %}

<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content content-narrow">
        	<div id="team-map">
				<iframe src="https://www.google.com/maps/d/embed?mid=1H_FLdCJ8SOo4U8ZMU0bra1LzzF5UEBSp&hl=en" width="640" height="480"></iframe>        	
        	</div>
        </div>
    </div>
</div>


<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content content-narrow">
            {{ content }}
        </div>
    </div>
</div>
